
.links{
    
    text-decoration: none;
    float:right;
    color:#1e1e2f;
    font-weight: bold;
    font-family: Times, Times New Roman, serif;
    font-size: 20px;;

    
}
.links:hover{
   color:#009999;
}
.navbar{
    background-color: #D8F0F3;
    position: fixed;
}
.relative11
    {
      position: relative;
      top: 150;
      left: 0;
      border-radius: 50%;
      
    }
    .absolute11
    {
      position: absolute;
      top: 200px;
      left: 50px;
      border-radius: 50%;
    }
    .relative12
    {
      position: relative;
      top: 350;
      left: 0;
      border-radius: 50%;
      
    }
    .absolute12
    {
      position: absolute;
      top: 400px;
      left: 450px;
      border-radius: 50%;
    }
    
   .donation{
       float: right;
      
   }
   #button11{
       position:absolute;
       left:1200px;
       top:500px;
   }
   .relative13{
       position:absolute;
       top:200px;
       left:400px;
       border-radius: 50%;
   }
   .relative14{
    position:absolute;
    top:550px;
    left:100px;
    border-radius: 50%;
}
.relative15{
    position:absolute;
    top:300px;
    left:1000px;
    border-radius: 5%;
    font-size: 50px;;
    background-color: cadetblue;
}
.relative16{
    position: absolute;
    top:1000px;
    left:100px;
    font-size: 25px;
    background-color: cadetblue;
    border-radius: 5%;
}
.relative17{
    position: absolute;
    top:1050px;
    left:100px;
    font-size: 15px;
    right: 1000px;
}
.relative18{
    position: absolute;
    top:1000px;
    left:550px;
    
}
.relative19{
    position: absolute;
    top:1000px;
    left:800px;
    font-size: 25px;
    background-color: cadetblue;
    border-radius: 5%;
}
.relative20{
    position: absolute;
    top:1050px;
    left:800px;
    font: 15px;;
}
.relative21{
    position: absolute;
    top:1200px;
    background-color: lightslategray;
    width:100%;
    text-align: center;
}
